<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Unicomi</title>

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <link href="css/edit-profile.css" rel="stylesheet">



</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg topbar fixed-top ">
    <div class="container">
      <a class="navbar-brand topname">UNI-COMI</a>
      <button class="navbar-toggler topname" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon topname"></span>
      </button>
    </div>
  </nav>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right " id="sidebar-wrapper">

      <div class="list-group list-group-flush">
        <a href="unicomi" class="list-group-item list-group-item-action bg-light">ホーム</a>
        <a href="filtering" class="list-group-item list-group-item-action bg-light">条件検索</a>
        <a href="my-profile" class="list-group-item list-group-item-action bg-light">マイページ</a>
        <a href="/logout" class="list-group-item list-group-item-action bg-light">ログアウト</a>
      </div>
    </div>



    <!-- Page Content -->
    <div class="container ">
      <!-- /#sidebar-wrapper -->
      <div class="container" id="menu-toggle" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>


      <div class="container-fluid">
        <div class="userprofileframe">

          <div class="changecontent">
            <form action="/edit-profile?_method=PATCH" method="POST">
              <button class="myButton" type="submit"><a style="text-decoration:none;color: inherit; ">プロフィールを保存</a></button><br>
              <label for="editProfileImage">プロフィール画像:</label>
              <input type="file" id="editProfileImage" name="filename"><br>

              <label for="name-input">名前:</label>
              <input id="name-input" name="name" type="text" size="15" value="<%= name %> "> <br>
              <label for="uni-name-input">大学名:</label>
              <input id="uni-name-input" name="university" type="text" size="20" value="<%= university %> "> <br>
              <label for="grade-input">学年:</label>
              <select name="grade" 　id="uni-name-input">
                <option value="1" <%=grade==="1" ? 'selected' : '' %> >1年生</option>
                <option value="2" <%=grade==="2" ? 'selected' : '' %>>2年生</option>
                <option value="3" <%=grade==="3" ? 'selected' : '' %>>3年生</option>
                <option value="4" <%=grade==="4" ? 'selected' : '' %>>4年生</option>
              </select><br>

             
              <label for="areaInput">エリア:</label>
              <select id="areaInput" name="area">  <!-- replace with for loop to avoid repetition -->
                <option value="未公開" <%= area === "未公開" ? 'selected' : '' %> >未公開</option>
                <option value="北海道" <%= area === "北海道" ? 'selected' : '' %> >北海道</option>
                <option value="青森県" <%= area === "青森県" ? 'selected' : '' %> >青森県</option>
                <option value="岩手県" <%= area === "岩手県" ? 'selected' : '' %> >岩手県</option>
                <option value="宮城県" <%= area === "宮城県" ? 'selected' : '' %> >宮城県</option>
                <option value="秋田県" <%= area === "秋田県" ? 'selected' : '' %> >秋田県</option>
                <option value="山形県" <%= area === "山形県" ? 'selected' : '' %> >山形県</option>
                <option value="福島県" <%= area === "福島県" ? 'selected' : '' %> >福島県</option>
                <option value="茨城県" <%= area === "茨城県" ? 'selected' : '' %> >茨城県</option>
                <option value="栃木県" <%= area === "栃木県" ? 'selected' : '' %> >栃木県</option>
                <option value="群馬県" <%= area === "群馬県" ? 'selected' : '' %> >群馬県</option>
                <option value="埼玉県" <%= area === "埼玉県" ? 'selected' : '' %> >埼玉県</option>
                <option value="千葉県" <%= area === "千葉県" ? 'selected' : '' %> >千葉県</option>
                <option value="東京都" <%= area === "東京都" ? 'selected' : '' %> >東京都</option>
                <option value="神奈川県" <%= area === "神奈川県" ? 'selected' : '' %> >神奈川県</option>
                <option value="新潟県" <%= area === "新潟県" ? 'selected' : '' %> >新潟県</option>
                <option value="富山県" <%= area === "富山県" ? 'selected' : '' %> >富山県</option>
                <option value="石川県" <%= area === "石川県" ? 'selected' : '' %> >石川県</option>
                <option value="福井県" <%= area === "福井県" ? 'selected' : '' %> >福井県</option>
                <option value="山梨県" <%= area === "山梨県" ? 'selected' : '' %> >山梨県</option>
                <option value="長野県" <%= area === "長野県" ? 'selected' : '' %> >長野県</option>
                <option value="岐阜県" <%= area === "岐阜県" ? 'selected' : '' %> >岐阜県</option>
                <option value="静岡県" <%= area === "静岡県" ? 'selected' : '' %> >静岡県</option>
                <option value="愛知県" <%= area === "愛知県" ? 'selected' : '' %> >愛知県</option>
                <option value="三重県" <%= area === "三重県" ? 'selected' : '' %> >三重県</option>
                <option value="滋賀県" <%= area === "滋賀県" ? 'selected' : '' %> >滋賀県</option>
                <option value="京都府" <%= area === "京都府" ? 'selected' : '' %> >京都府</option>
                <option value="大阪府" <%= area === "大阪府" ? 'selected' : '' %> >大阪府</option>
                <option value="兵庫県" <%= area === "兵庫県" ? 'selected' : '' %> >兵庫県</option>
                <option value="奈良県" <%= area === "奈良県" ? 'selected' : '' %> >奈良県</option>
                <option value="和歌山県" <%= area === "和歌山県" ? 'selected' : '' %> >和歌山県</option>
                <option value="鳥取県" <%= area === "鳥取県" ? 'selected' : '' %> >鳥取県</option>
                <option value="島根県" <%= area === "島根県" ? 'selected' : '' %> >島根県</option>
                <option value="岡山県" <%= area === "岡山県" ? 'selected' : '' %> >岡山県</option>
                <option value="広島県" <%= area === "広島県" ? 'selected' : '' %> >広島県</option>
                <option value="山口県" <%= area === "山口県" ? 'selected' : '' %> >山口県</option>
                <option value="徳島県" <%= area === "徳島県" ? 'selected' : '' %> >徳島県</option>
                <option value="香川県" <%= area === "香川県" ? 'selected' : '' %> >香川県</option>
                <option value="愛媛県" <%= area === "愛媛県" ? 'selected' : '' %> >愛媛県</option>
                <option value="高知県" <%= area === "高知県" ? 'selected' : '' %> >高知県</option>
                <option value="福岡県" <%= area === "福岡県" ? 'selected' : '' %> >福岡県</option>
                <option value="佐賀県" <%= area === "佐賀県" ? 'selected' : '' %> >佐賀県</option>
                <option value="長崎県" <%= area === "長崎県" ? 'selected' : '' %> >長崎県</option>
                <option value="熊本県" <%= area === "熊本県" ? 'selected' : '' %> >熊本県</option>
                <option value="大分県" <%= area === "大分県" ? 'selected' : '' %> >大分県</option>
                <option value="宮崎県" <%= area === "宮崎県" ? 'selected' : '' %> >宮崎県</option>
                <option value="鹿児島県" <%= area === "鹿児島県" ? 'selected' : '' %> >鹿児島県</option>
                <option value="沖縄県" <%= area === "沖縄県" ? 'selected' : '' %> >沖縄県</option>
              </select><br>

              <label for="bio-input">自己紹介:</label>
              <textarea name="bio" id="bio-input" rows="5" cols="30" type="text"><%= bio %> 
              </textarea><br>
            </form>

          </div>





        </div>
      </div>



    </div>



    <!-- Page Content -->


    <!-- Footer -->
    <!-- <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-black">Copyright &copy; Your Website 2020</p>
    </div>
  </footer> -->

    <script>

      function myFunction(x) {
        x.classList.toggle("change");
        $("#wrapper").toggleClass("toggled");
      }

      $("#editProfileImage").click(function (e) {
        $("#imageUpload").click();
      });





    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"></script>




</body>

</html>