<%- include('partials/header') %> 

<body>

  <!-- Navigation -->
  <%- include('partials/navbar') %> 

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <%- include('partials/sidebar') %> 

    <!-- Page Content -->
    <div  id="page-content-wrapper">
      <!-- /#sidebar-wrapper -->
      <div class="container" id="menu-toggle" onclick="myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>


      <div class="container-fluid">
        <div class="userprofileframe">
          <a href="/unicomi" class="previous round backbutton">&#8249;</a>
          <br>
          <img class="profilepic" src="/files/<%=MyImage%>"
            alt="プロフィール画像">
          <div class="profilecontent">
            
            <h1><%= MyName %></h1>
            <p>エリア：<%= MyArea %></p>
            <p>大学名：<%= MyUniversity %></p>
            <p>学年：<%=MyGrade %></p>
            <p>自己紹介：<%= MyBio %></p>
          </div>
          
          




        </div>
      </div>

    

    </div>

    


    <!-- Page Content -->


    <!-- Footer -->
    <!-- <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-black">Copyright &copy; Your Website 2020</p>
    </div>
  </footer> -->

    <script>

      function myFunction(x) {
        x.classList.toggle("change");
        $("#wrapper").toggleClass("toggled");
      }

      function openForm() {
        document.getElementById("myForm").style.display = "block";
      }

      function closeForm() {
        document.getElementById("myForm").style.display = "none";
      }


    </script>

    <!-- Bootstrap core JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    




</body>

</html>